@charset "utf-8";
.ll {
}
		@font-face{
			font-family: DancingScript-Bold;
			src: url(../../2018.12.27/ziyuan/Fonts/Dancing_Script/DancingScript-Bold.ttf)
		}
		@font-face{
			font-family: Vollkorn-Regular;
			src: url(../../2018.12.27/ziyuan/Fonts/Vollkorn/Vollkorn-Regular.ttf)
		}
		@font-face{
			font-family: Vollkorn-BoldItalic;
			src: url(../../2018.12.27/ziyuan/Fonts/Vollkorn/Vollkorn-BoldItalic.ttf)
		}
		@media screen and (min-width:0px)and (max-width : 460px ){
	body {
	margin: 0px;
	padding: 0px;
	background-color: #FAEDC4;	
}
		}
		.top {
	height: 2386px;
	width: 100%;
	background-color: #FAEDC4;
	margin: 0px;
	padding: 0px;
}
    .top .part1 {
		width: 100%;
		height: 60px;
}
    .top .part1 p {
	font-family:  "Vollkorn-Regular";
	font-size: 10px;
	line-height: 60px;
	text-align: center;
}
    .part2 {
	background-color: #ffd703;
	height: 80px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
h1 {
	
	font-family:DancingScript-Bold;
	font-size: 25px;
		}
		.part2 .p1{
	margin-left: 10px;
	line-height: 40px;
	font-weight: bolder;
		}
		.part2 .p2{
	font-size: 10px;
	font-family: "Vollkorn-Regular";
	color: #CCCCCC;
	margin-left: 10px;
	margin-right: 45px;

	float: left;
		}
		.part{
	background: #FFFFFF;
	height: 2000px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
		}
		.part3 .p1{
			font-family: DancingScript-Bold;
			font-size:15px;
		    margin-left: 10px;
			line-height: 30px;
			font-weight: bolder;
		}
		.part3 .p2{
			font-family:  Vollkorn-Regular;
			margin-left: 10px;
			font-size: 5px;
		}
		.part3 .p3{
	margin-top: 800;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin-top: 10px;
	font-size: 10px;
	margin-left: 10px;
	font-weight: bolder;
		}
		.part3 .img{
		width:100%;
		margin-top: 10px;
		height:450px;
		overflow: hidden;
		}
    .part3 {
}
		.clear{
			clear: left;
		}
    .part3 .img .t1 {
		 float: left;
		width:28%;
		height:300px;
		margin-left:10px;
		margin-right: 10px;
		overflow: hidden;
		position: absolute;
}
		  .part3 .img .t2 {
			  float: left;
		width:28%;
		height:300px;
		margin-left:140px;
		overflow: hidden;
		position: absolute;
}
		.part3 .img .t3 {
			  float: left;
		width:28%;
		height:300px;
		margin-left:270px;
		overflow: hidden;
		position: absolute;
}
	.part3 .img .t1 img{
		float:left;
		height:100%;
		left:-250px;
		position: relative;
		filter: grayscale(100%);
}
	.part3 .img .t1 p{
		position: absolute;
		font-family: "Vollkorn-BoldItalic";
		font-size:20px;
		float: left;
		bottom:0;
		left:10px;
		color:white;
		}
		.part3 .img .t2 img{
		height:100%;
		left:-250px;
		position: relative;
		filter: grayscale(100%);
}
	.part3 .img .t2 p{
		position: absolute;
		font-family: "Vollkorn-BoldItalic";
		font-size:20px;
		float: left;
		bottom:0;
		left:14px;
		color:white;
		}
				.part3 .img .t3 img{
		height:100%;
		left:-250px;
		position: relative;
		filter: grayscale(100%);
}
	.part3 .img .t3 p{
		position: absolute;
		font-family: "Vollkorn-BoldItalic";
		font-size:20px;
		float: left;
		bottom:0;
		left:8px;
		color:white;
		}

    .part4 {
	width: 100%;
}
    .top .part .part4 .p1 {
		font-family: DancingScript-Bold;
			font-size:15px;
		    margin-left: 10px;
			line-height: 30px;
			font-weight: bolder;
}